services:
  redis:
    image: redis/redis-stack:latest
    container_name: ecommerce-redis
    ports:
      - "6379:6379"
      - "8001:8001"
    volumes:
      - redis-data:/data
    networks:
      - fullstack-net
    restart: unless-stopped
  backend:
    build: ./backend
    container_name: ecommerce-backend
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    networks:
      - fullstack-net
    depends_on:
      - redis
    restart: unless-stopped
  frontend:
    build: ./frontend
    container_name: ecommerce-frontend
    ports:
      - "8081:80"
    env_file:
      - ./frontend/.env
    networks:
      - fullstack-net
    depends_on:
      - backend
    restart: unless-stopped

networks:
  fullstack-net:
    driver: bridge

volumes:
  redis-data:
