version: "3.9"

services:
  redis:
    image: redis/redis-stack:latest
    container_name: ecommerce-redis
    ports:
      - "6379:6379"
      - "8001:8001"
    volumes:
      - redis-data:/data
    networks:
      - fullstack-net
    restart: unless-stopped
  server:
    image: ashutosh8709/ecommerce-backend:latest
    container_name: ecommerce-backend
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    networks:
      - fullstack-net
    depends_on:
      - redis
    restart: unless-stopped
  client:
    image: ashutosh8709/ecommerce-frontend:latest
    container_name: ecommerce-frontend
    ports:
      - "3000:3000"
    env_file:
      - frontend/.env
    networks:
      - fullstack-net
    depends_on:
      - server
    restart: unless-stopped

networks:
  fullstack-net:
    driver: bridge

volumes:
  redis-data:
