kind: Service
apiVersion: v1
metadata:
  name: frontend
  namespace: ecommerce
spec:
  type: NodePort
  selector:
    app: frontend
  ports:
    - name: http
      port: 80
      targetPort: 80
      protocol: TCP
      nodePort: 32500
