kind: Deployment
apiVersion: apps/v1
metadata:
  name: frontend
  namespace: ecommerce
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend

  template:
    metadata:
      labels:
        app: frontend

    spec:
      containers:
        - name: frontend
          image: ashutosh8709/ecommerce-frontend:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 80

          envFrom:
            - secretRef:
              name: frontend-secret

          resources:
            requests:
              cpu: "50m"
              memory: "128Mi"

            limits:
              cpu: "300m"
              memory: "256Mi"
