apiVersion: networking.k8s.io/v1
kind: Ingeress
metadata:
  name: ecommerce-ingress
  namespace: ecommerce
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/proxy-read-timeout: "3600"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "3600"
    nginx.ingress.kubernetes.io/websocket-services: "backend"
spec:
  rules:
    - http:
      paths:
        - path: /
          pathType: Prefix
          backend:
            service:
              name: frontend
              port:
                number: 80

        - path: /api/
          pathType: Prefix
          backend:
            service:
              name: backend
              port:
                number: 8000

        - path: /socket.io/
          pathType: Prefix
          backend:
            service:
              name: backend
              port:
                number: 8000
